<section data-ng-controller="RemoteController">

  <div class="row">
    <div class="col-md-12">
      <h4>最近播放</h4>
      <div class="list-group list-group-lg list-group-sp"  data-ng-controller="VideosController" data-ng-init="find()">
        <a herf="#" class="list-group-item clearfix" ng-repeat="video in videos"
           ng-click="customQQSrc(video.source.id)">
              <span class="pull-left thumb-md m-r">
              <img ng-src="{{video.img}}" alt="...">
              <i class="on b-white right"></i>
              </span>
              <span class="clear">
              <span>{{video.name}}</span>
              <small class="text-muted clear">{{video.description | limitTo:40}}</small>
              </span>
        </a>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" ng-model="customUrl">
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" ng-click="customSrc()" class="btn btn-default">自定义播放地址</button>
          <button type="submit" ng-click="impQQ()" class="btn btn-default">腾讯视频地址</button>
        </div>
      </div>

    </div>
  </div>

</section>
